html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: $base-font-family;
  color: $dark-grey;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
