.card {
  -ms-flex-item-align: center;
           align-self: center;
  position: relative;
  border: $border-style $border-width $colour--ash;
  margin-bottom: $gutter-size--default * 2;
  border-radius: $border-radius--card;
  overflow: hidden;
  max-width: $breakpoint--mobile;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
          float: left;

  @include media(tablet) {
    margin-right: $gutter-size--default * 2;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @include media(desktop) {
    margin-right: $gutter-size--default * 2;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.card__image-container {
  width: $card__width;
  height: $card__height;
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  position: relative;

  &:before {
    content: '';
	position: absolute;
	@include setPositionToCover;
  @include setCardGradient;
  }
}

.card__toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: $gutter-size--default;
}

.card__label {
  position: absolute;
  -ms-flex-item-align: center;
           align-self: center;
  padding: $gutter-size--default;
}

.card__technical-specifications {
  padding: $gutter-size--default;
  line-height: $line-height__card__technical-specifications;

  @include media(tablet) {
    line-height: $line-height__card__technical-specifications;
  }

  @include media(desktop) {
    font-size: $font-size__card__make;
    line-height: $line-height__card__technical-specifications;
  }
}

.card__make, .card__model {
  color: $colour--white;
}

.card__make {
  font-size: $font-size__card__make--mobile;
  margin-bottom: $gutter-size--default - 4;
  line-height: $line-height__card__make;

  @include media(tablet) {
    font-size: $font-size__card__make;
  }

  @include media(desktop) {
    font-size: $font-size__card__make;
  }
}

.card__model {
  font-size: $font-size__card__model--mobile;
  font-weight: $font-weight--semibold;
  line-height: $line-height__card__model;

  @include media(tablet) {
    font-size: $font-size__card__model;
    line-height: $line-height__card__model--tablet;
  }

  @include media(desktop) {
    font-size: $font-size__card__model;
    line-height: $line-height__card__model;
  }
}

.card__engine {
  font-weight: $font-weight--semibold;
  font-size: $font-size__card__engine--mobile;
  line-height: $line-height__card__engine--mobile;
}

.card__details {
  font-size: $font-size__card__details--mobile;
  line-height: $line-height__card__details--mobile;
}
