.car-showcase {
  padding: $gutter-default * 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: $mobile-screen-size;

  @include media(tablet) {
    max-width: $tablet-screen-size;
  }

  @include media(desktop) {
    max-width: $desktop-screen-size;
  }
}
