.card {
  align-self: center;
  position: relative;
  border: $border-style $border-width $ash;
  margin-bottom: $gutter-default * 2;
  border-radius: $card-border-radius;
  overflow: hidden;
  max-width: $mobile-screen-size - ($gutter-default * 2);
  flex-grow: 1;
}

.card-image-container {
  display: flex;
  position: relative;
}

.card-image-container,
.card-image-container img {
  max-height: 170px;
  width: 100%;
}

.image-gradient:after {
    content: '';
    position:absolute;
    @include setPositionToCover;
    @include setCardGradient;
    z-index: 1;
}
.card-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: $gutter-default;
  z-index: 2;
}

.card-label {
  position: absolute;
  align-self: center;
  padding: $gutter-default;
  z-index: 3;
}
.card-specifications {
  padding: $gutter-default;
}

.make, .model {
  color: $white;
}

.make {
  font-size: $font-size-make-mobile;
  margin-bottom: $gutter-default - 4;
}

.model {
  font-size: $font-size-model-mobile;
  font-weight: $semibold;
}

.engine {
  font-weight: $semibold;
  font-size: $font-size-engine-mobile;
  line-height: $line-height-engine-mobile;
}

.details {
  font-size: $font-size-details-mobile;
  line-height: $line-height-details-mobile;
}
