header {
  max-width: $mobile-screen-size;
  margin: 0 auto;
  background-color: $blue;
  padding-left: $gutter-default;
  display: flex;
  align-items: center;
  height: $header-height-mobile;

  @include media(tablet) {
    height: $header-height-default;
    min-width: $mobile-screen-size + 1;
    max-width: $tablet-screen-size;  }

  @include media(desktop) {
    height: $header-height-default;
    max-width: $desktop-screen-size;
  }
}

.logo-container {
  @include setLogoWidthAndPadding($logo-width-mobile, $logo-padding-mobile);

  @include media(tablet) {
    @include setLogoWidthAndPadding($logo-width-tablet, $logo-padding-tablet);
  }

  @include media(desktop) {
    @include setLogoWidthAndPadding($logo-width-desktop, $logo-padding-desktop);
  }
}

.logo-container svg {
  display: block;
}
