header {
  background-color: $blue;
  padding-left: $gutter-default;
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    height: $header-height-mobile;
  }
}

.logo-container {
  width: $logo-width-mobile;
  padding: $logo-padding-mobile 0;
}

.logo-container svg {
  display: block;
}
