.page-title-container {
  background-color: $colour--light-grey;
  border-bottom: $border-style $border-width $colour--mid-grey;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: $page-title-container__height;
}

.page-title__header {
  font-weight: $font-weight--semibold;
  font-size: $header-font__size--mobile;
  line-height: $header-font__line-height;

  @include media(tablet) {
    font-size: $header-font__size;
  }

  @include media(desktop) {
    font-size: $header-font__size;
  }
}
