// Borders
$border-style: solid;
$border-width: 1px;

// Breakpoints
$mobile-screen-size: 320px;
$tablet-screen-size: 768px;
$desktop-screen-size: 1440px;

// Brand Marks
$logo-width-mobile: 126px;
$logo-width-tablet: 159px;
$logo-width-desktop: 142.5px;

$logo-padding-mobile: 14px;
$logo-padding-tablet: 23px;
$logo-padding-desktop: 25px;


// Button
$button-letter-spacing: 1px;
$button-padding: 4px 20px;
$delete-button-margin: 8px;
// For button fonts, see 'Fonts' section

// Colors
$ash: #eeeeee;
$black: #000000;
$blue: #00a4ff;
$dark-grey: #4d4f52;
$light-grey: #f5f5f5;
$mid-grey: #dddddd;
$white: #ffffff;

// Curves
$button-border-radius: 16px;
$card-border-radius: 6px;

// Effects
$icon-drop-shadow: rgba(0,0,0,0.75);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
$base-font-family: 'Montserrat', sans-serif;
$bold: 700;
$semibold: 600;

$h1-line-height: 48px;
$h1-default: 40px;
$h1-mobile: 32px;

$font-size-make-mobile: 15px;
$font-size-model-mobile: 22px;
$font-size-engine-mobile: 16px;
$font-size-details-mobile: 14px;

$line-height-engine-mobile: 20px;
$line-height-details-mobile: 20px;

$button-font-size: 14px;

// Layout
$gutter-default: 16px;
$header-height-mobile: 48px;
$header-height-default: 72px;
$page-title-height: 200px;
$card-width: 288px;
$card-height: 170px;
