@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "page-title.scss";
@import "car-showcase.scss";

html {
  box-sizing: border-box;
  font-family: $base-font-family;
  color: $dark-grey;
}
*, *:before, *:after {
  box-sizing: inherit;
}
